@use 'variables';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
  overflow: auto;
}

// Aplica las variables SCSS
p {
  color: variables.$text-color-dark;
}

// Aplica la fuente decorativa
h1, h2, h3, .footer-logo, .tagline-funnel {
  font-family: 'Funnel Display', sans-serif;
}

// Estilos reutilizables (ej: hidden)
.hidden-form {
  display: none !important;
}