@use '../base/variables' as var;

// Estilo base para todos los botones de acción principal
.primary-button, .aboutUs-button, .reserve-btn,
.search-button, .apply-sort-btn, .apply-filters-btn, .seeMore-button {
  padding: 10px 20px;
  background-color: var.$primary-color;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s, box-shadow 0.3s, border-color 0.3s;

  &:hover {
    background: var.$accent-color;
    color: var.$primary-color;
    border-color: var.$accent-color;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  }
}

// Botón secundario (bordeado)
.secondary-button {
  padding: 10px 20px;
  background-color: transparent;
  color: var.$primary-color;
  border: var.$primary-color solid 1px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s, box-shadow 0.3s, border-color 0.3s;

  &:hover {
    background-color: var.$accent-color;
    color: var.$primary-color;
    border-color: var.$accent-color;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  }
}

// Estilos específicos de la barra de búsqueda principal
.search-button {
  padding: 15px 25px;
  border-radius: 0 8px 8px 0;
}

.seeMore-button {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: fit-content;
}

.clear-filters-btn {
  background-color: #eee;
  color: #333;
  margin-top: 10px;

  &:hover {
    background-color: #ddd;
    color: black;
  }
}