@use '../base/variables' as var;

#navigationBar {
  position: sticky;
  width: 100%;
  background: white;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 50px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
  transition: all 0.3s ease-in-out;
}

.nav-logo {
  display: flex;
  align-items: center;
  min-width: 80px;
}

.navLogo-img {
  width: 200px;
  height: auto;
  opacity: 1;
}

#navigationBar ul {
  display: flex;
  list-style: none;
  gap: 40px;
  margin: 0;
  padding: 0;
}

#navigationBar li {
  display: inline-block;
}

#navigationBar a {
  color: var.$primary-color;
  text-decoration: none;
  font-size: 1.1rem;
  transition: color 0.3s;
  font-family: Arial, Helvetica, sans-serif; /* Mantenemos fuente para legibilidad */

  &:hover {
    color: var.$accent-color;
  }
}